*{
    margin: 0px;
}

html{
    height: 100%;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.aa{
    height: 400px;
    width: 270px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    border-radius: 18px;
    margin: auto;
    box-shadow: 0px 0px 50px black;
    margin-top: 100px;
}

div:hover{
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

body{
    background-image: linear-gradient(#0046ae, #9198e5);
}
.c{
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
.c:hover{
    color: #2e2e2e;
}
.b, .a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    margin: auto;
}
.a{
    margin-left: 89px;
    margin-right: 89px;
    margin-top: 10px;
}
.b{ 
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 0px;  
}
.c{
    margin-left: 69px;
    margin-right: 69px;
    margin-top: 2px;
}
.t{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 18px;
    margin-top: 2px;
}
input[type="range"]{
    width: 230px;
    margin-left: 19px;
    margin-top: 2px;
}
img{
    width: 195px;
    height: 195px;
    border-radius: 5px;
    margin: 37px;
    margin-top: 13px;
    margin-bottom: 0px;
    padding-top: 0px;
}

img:hover{
    box-shadow: 0px 0px 30px black;
}